package main

templ html(show string) {
    <head>
        <meta charset="UTF-8"/>
        @htmxSrc()
    </head>
    <body>
        <div id="show" hx-get="/body" hx-trigger="change, every 5s" hx-swap="innerHTML">
            @templ.Raw(show)
        </div>
    </body>
}

templ body(show string) {
    @templ.Raw(show)
}
