package main

templ html(show string) {
    <head>
        <meta charset="UTF-8"/>
        @htmxSrc()
    </head>
    <body>
        @body(show)
    </body>
}

templ body(show string) {
    <div id="show" hx-get="/" hx-trigger="load, every 1s" hx-swap="outerHTML">
        @templ.Raw(show)
    </div>
}
